<div ng-controller="DeviceController" class="device_grid">
    <ul class="devices">
        <li class="devices" ng-repeat="device in devices">
            <section class="card" ng-class="{'offline': device.state == 'OFFLINE'}">
                <h1>{{device.properties.ro.product.manufacturer}} <strong>{{device.properties.ro.product.model}}</strong></h1>

                <h2>Id : {{device.serial}} </h2>

                <h2>Views : {{device.state}} </h2>

                <h2>Manufacturer: {{device.properties.ro.product.manufacturer}} </h2>

                <h2>SDK: {{device.properties.ro.build.version.sdk}} </h2>

                <h2>Release: {{device.properties.ro.build.version.release}}</h2>
            </section>
        </li>
    </ul>
</div>
<span style="clear:both" ></span>